# Базовые библиотеки для работы с Telegram API
telethon

# Для логирования
loguru

# Для работы с графами
networkx

# Дополнительно: если используете, например, для визуализации графов
# matplotlib
# pygraphviz
